<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Auteur : {{ auteurs.nom }} {{ auteurs.prenom }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
</head>
<body>
{% include 'main_nav.html' %}

<div class="containerSecond">
    <h1 class="mainTitle">Fiche de l'auteur : {{ auteurs.nom }} {{ auteurs.prenom }}</h1>

    <article class="playerInfo">
        <h2>Informations personnelles</h2>
        <p><strong>Nom:</strong> {{ auteurs.nom }}</p>
        <p><strong>Prénom:</strong> {{ auteurs.prenom }}</p>
        <p><strong>Âge:</strong> {{ auteurs.age }}</p>
        <p><strong>Photo:</strong></p>
        {% if auteurs.photo %}
            <img src="{{ auteurs.photo.url }}" class="imgAffiche">
        {% else %}
             <p>No image available</p>
        {% endif %}
    </article>
<a class="backButton" href="/index_auteurs">Retour</a>
</div>
{% include 'main_footer.html' %}
</body>
</html>
