<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Joueurs</h1>
<a href="/ajout_joueurs/"> Ajouter un joueur </a> <a href="/index_joueurs/"> Index </a>
<h1>Auteurs</h1>
<a href="/ajout_auteurs/"> Ajouter un auteur </a> <a href="/index_auteurs/"> Index </a>
<h1>Catégories</h1>
<a href="/ajout_categories/"> Ajouter une catégorie </a> <a href="/index_categories/"> Index </a>
<h1>Jeux</h1>
<a href="/ajout_jeux/"> Ajouter un jeu </a> <a href="/index_jeux/"> Index </a>
<h1>Commentaires</h1>
<a href="/ajout_commentaires/"> Ajouter un commentaire </a> <a href="/index_commentaires/"> Index </a>
<h1>ListeJeuxJoueurs</h1>
<a href="/ajout_listejeuxjoueurs/"> Ajouter une ListeJeuJoueur </a> <a href="/index_listejeuxjoueurs/"> Index </a>

</body>
</html>