<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Majin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
</head>
<body>
{% include 'main_nav.html' %}

<h1 class="mainTitle"> Majin </h1>

<div class="allJeux">
    {% if liste %}
        <div class="jeux-container">
            {% for j in liste %}
                <article class="mainJeux">
                    <a href="{% url 'affiche_jeux' j.id %}" class="card-link">
                        <div class="card">
                            {% if j.photo %}
                                <div class="top">
                                    <img src="{{ j.photo.url }}" class="imgMain">
                                </div>
                            {% else %}
                                <div class="top">
                                    <p>Aucune image disponible</p>
                                </div>
                            {% endif %}
                            <div class="bottom">
                                <p class="nameCardMain">{{ j.titre }}</p>
                                <p class="categorycardMain">{{ j.cat }}</p>
                                <div class="line"></div>
                                <div class="year">{{ j.anneeSortie }}</div>
                            </div>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun jeux n'est disponible pour le moment.</p>
    {% endif %}
</div>
<a class="addButton" href="/ajout_jeux/"> Ajouter un jeu </a>



{% include 'main_footer.html' %}
</body>
</html>
