<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/ajout_commentaires/"> Ajouter un commentaire </a>
<h1> Hey </h1>
<article>
    {% for c in liste %}
        <li class="liste"> {{c}} <a class="edit" href="/ludotheque/affiche_commentaires/{{c.id}}/">Afficher les informations</a>  |  <a class="edit" href="/ludotheque/update_commentaires/{{c.id}}/">Mettre à jour</a>  |  <a class="edit" href="/ludotheque/delete_commentaires/{{c.id}}/">Supprimer</a> </li>
    {% endfor %}
</article>
<a href="/"> Retour </a>
</body>
</html>