<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Ajouter un jeu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
</head>
<body>
{% include 'main_nav.html' %}
<div class="containerSecond">
    <h1 class="mainTitle">Ajouter un jeu</h1>

        <form method="post" enctype="multipart/form-data"/>
        {% csrf_token %}
        {{ form.as_ul }}
        <input class="submitButton" type="submit" value="Envoyez les informations"/>
    </form>
</div>
{% include 'main_footer.html' %}
</body>
</html>
